.footer {
  max-width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-top: 80px;
  left: 31px;

  .footerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footerTopLeft {
      img {
        width: 160px;
      }
    }
  }

  .footerTopRight {
    display: flex;
    align-items: center;

    .selectCountry {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 5px;
      width: 100px;
      height: 35px;
      margin-right: 30px;

      img {
        width: 20px;
        margin: 0 5px;
        cursor: pointer;
      }

      select {
        outline: none;
        border: none;
        cursor: pointer;
      }
    }

    .selectLanguage {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 5px;
      width: 100px;
      height: 35px;
      cursor: pointer;

      select {
        outline: none;
        border: none;
        cursor: pointer;
      }
    }
  }

  .footerLinks {
    margin-top: 40px;

    .footerSections {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 50px;
    }

    h4 {
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }

    li {
      list-style: none;
      padding: 5px;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }

    .footerSec1 {
      margin-right: 80px;
    }

    .footerSec2 {
      margin: 0 80px 30px 20px;
    }

    .footerSec3 {
      margin: 0 80px 45px 20px;

      .subFotterSec1 {
        margin-bottom: 15px;
      }
    }

    .footerSec4 {
      margin: 0 80px 60px 20px;
    }

    .socialLinks {
      margin: 0 0 30px 20px;
      .social {
        display: flex;

        .fa-brands {
          font-size: 24px;
          color: black;
        }
      }

      .appImg {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        img {
          width: 137px;
          margin-bottom: 12px;
          cursor: pointer;
        }
      }
    }
  }

  .footerEnd {
    margin-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
  }
}
